* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #e8fffe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #6b566a;
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 10px;
  background: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.calculator form input[type="text"] {
  border: none;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
